.education {
  font-size: 1rem;
}

.education li {
  list-style: none;
}

.education-form {
  display: flex;
  flex-direction: column;
}

.education-form input {
  margin: 0.5rem;
  min-height: 2rem;
}

.admin-education-form-select {
  background-color: inherit;
  font-size: 1.2rem;
  margin: 0.5rem;
  min-height: 2rem;
}
