.description {
  font-size: 1rem;
}

.description li {
  list-style: none;
}

.description-form {
  display: flex;
  flex-direction: column;
}

.description-form input {
  margin: 0.5rem;
  min-height: 2rem;
}

.description-form textarea {
  width: auto;
  height: 20rem;
}
