#certifications-background {
  background-color: #0B3C5D;
}

#certifications {
  margin: auto;
  max-width: 1080px;
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#certifications a {
  color: #D9B310;
}
